<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mini-scheme.js</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>mini-scheme.js</h1>
    <div id="app">
      <h4>Source</h4>
      <small v-if="parenBalance > 0">{{parenBalance}} open paren</small>
      <small v-else-if="parenBalance < 0" class="error">{{-parenBalance}} extra closed paren</small>
      <small v-else>&nbsp;</small>
      <textarea v-model="input" rows="10"></textarea><br>
      <p v-if="error" class="error"><strong>Error: </strong>{{error}}</p>
      <template v-else>
        <h4>Result</h4>
        <p class="code">{{result}}</p>
      </template>
      <div class="ast">
        <h4>AST</h4>
        <item :model="ast"></item>
      </div>
      <div class="tokens">
        <h4>Tokens</h4>
        <p>
          <template v-for="token in tokens">
            <span class="token">{{token}}</span>&nbsp;
          </template>
        </p>
      </div>
      <hr>
      <h4>Links</h4>
      <a href="http://norvig.com/lispy.html">Peter Norvig's lis.py</a>
    </div>

    <!-- item template -->
    <script type="text/x-template" id="item-template">
      <li v-if="isList"><ul>
        <item v-for="item in model" :key="item.toString()" :model="item"></item>
      </ul></li>
      <li v-else>{{model}}</li>
    </script>
    <script src="vue.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
