body {
  font-family: sans-serif;
  padding: 10px 2.5%;
  max-width: 1200px;
}

h4 {
  margin-bottom: 5px;
}

code.chrome {
  margin: 1px;
}

textarea {
  width: calc(100% - 44px);
  height: 250px;
  margin-left: 40px;
  padding: 1px;
}

p.error {
  border: 5px solid red;
  background-color: salmon;
  padding: 15px;
}

small {
  float: right;
  height: 0;
}

small.error {
  color: red;
}

div.ast h4, div.tokens h4, #app div.env:first h4 {
  margin-top: 0;
}

div.ast {
  float: left;
  width: calc(45% - 20px);
  margin-left: 20px;
}

div.tokens {
  float: left;
  width: 30%;
}

div.env {
  float: left;
  width: calc(25% - 20px);
  margin-left: 20px;
}

hr {
  clear: both;
  border: none;
}

span.token {
  border: 2px darkblue solid;
  background-color: lightblue;
  padding: 2px 5px;
  border-radius: 4px;
  line-height: 2.2;
}

ul.env {
  display: inline-block;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.env li {
  border: 2px solid darkgoldenrod;
  background-color: lightgoldenrodyellow;
  padding: 2px 5px;
  border-radius: 4px;
  margin: 3px 0;
}

div.ast > li {
  list-style: none;
}

ul.ast {
  display: inline-block;
  list-style: disclosure-closed inside;
  vertical-align: middle;
  margin: 3px 0;
  padding: 1px 5px;
  border: 3px solid green;
  border-radius: 9px;
}

li {
  padding: 0;
}

li, span.token, textarea, p.code, code {
  font-family: monospace;
  font-size: 16px;
}
